html {
  font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  background-color: #faebd7;
}
main {
  background-color: #f9f3ea;
}
h1 {
  color: #f04c25;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
}
h2 {
  font-size: 18px;
  line-height: 20px;
  color: #009cab;
  font-weight: normal;
}
h4 {
  line-height: 16px;
}
p {
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  font-weight: 300;
  width: 960px;
  text-indent: 10px;
}
p.copyright {
  font-size: 10px;
  color: #009cab;
}
table.section {
    width: 900px;
}
table.padleft40 {
    padding-left: 30px;
}
td.foto {
    padding-left: 30px;
}
td.titel {
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  font-weight: 600;
}
td.lijn {
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  font-weight: 300;
}
td.kol1 {
  width: 30px;
}
td.top {
  vertical-align: top;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
li.header {
  line-height: 30px;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
}   
figure.index {
  float: left;
  margin: 0 50px 0 30px;
}
figure.cv {
  float: right;
  margin: 0 50px 0 30px;
}
